@import "reset.css";

canvas {
  width: 800px;
  height: 800px;
  background-color: white;
  border: 1px solid black;
  border-radius: 10px;
}

body {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: flex-start;
  background-color: gainsboro;
  padding: 20px;
  font-family: "Courier New", Courier, monospace;
}

.color-option {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  border: 5px solid white;
  transition: transform ease-in-out 0.1s;
}
.color-options {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}
.btns {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.color-option:hover {
  transform: scale(1.2);
}
input#color {
  background-color: white;
}
button,
label {
  all: unset;
  padding: 10px 0;
  text-align: center;
  background-color: royalblue;
  color: white;
  font-weight: 500;
  border-radius: 10px;
  transition: opacity linear 0.1s;
}
button:hover,
label:hover {
  opacity: 0.85;
  cursor: pointer;
}
input#text {
  all: unset;
  padding: 10px 0;
  font-weight: 500;
  border-radius: 10px;
  text-align: center;
  background-color: white;
}
input#file {
  display: none;
}
